<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title> Preview </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="<%= File.join(Hammer::ENV.stylesheet_path, 'sphinx.css') %>" rel="stylesheet" type="text/css"> </link>
  </head>
  <body>
  <div class="document">
    <div class="documentwrapper">
        <div class="bodywrapper">
      <div class="body">
          <h1>Preview</h1>

          <div class="section>
          <%= yield %>
      </div>
      </div>
  </div>
  </div>
  </div>
  </body> 
</html>
    
